<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Overview</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

        <table>
            <thead>
                <tr>
                    <!--header-->
                </tr>
            </thead>
            <tbody>
                <!--sections-->
            </tbody>
        </table>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="script.js"></script>
    </body>
</html>